<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dob</title>
    <link rel="stylesheet" href="/css/dob.css" />
   
</head>

<body>
    <div class="home">
       <h2><a href="index1.html" id = "home">Home</a></h2> 
    </div>

    <div class="dob">
        <h1 class="headline">When’s your birthday?</h1>

        <form action="/interestpage" method="post" class="birth__birthForm__uv1">
            <div class="birth__birthInputWrapper__1k-">
                <input type="number" placeholder="1991"  id = "dob" class="birth__birthInput__syT" value="" />
            </div>
            <div class="birth__submitButtonWrapper__I3J">
                <div class="solidButton__buttonWrapper__tkE">
                    <button type = "submit" class="solidButton__button__15V solidButton__disabled__15i birth__submitButton__8gG" 
                            style="background-color: rgba(0, 0, 0, 0)"  onclick="validation()"  >
                            <a href="/interestpage" id = "year" > Next</a>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <script src = "/css/dob.js"></script>
</body>

</html>