.sideBar__header__Utq {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    line-height: 22px;
}
.newlyTrending__navButtonPrev__2u4 {
    width: 20px;
    height: 20px;
    display: inline-flex;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.icons__iconWrapper__2yw {
    display: inline-flex;
    width: inherit;
    height: inherit;
}



.icons__iconWrapper__2yw i, .icons__iconWrapper__2yw svg {
    display: inline-flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: baseline;
}


.icons__iconWrapper__2yw i, .icons__iconWrapper__2yw svg {
    display: inline-flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: baseline;
}

.newlyTrending__navButtonNext__2Bl {
    margin-left: 4px;
    transform: scaleX(-1);
}

element.style {
}
.newlyTrending__navButtonNext__2Bl {
    margin-left: 4px;
    transform: scaleX(-1);
}
.newlyTrending__navButtonNext__2Bl, .newlyTrending__navButtonPrev__2u4 {
    width: 20px;
    height: 20px;
    display: inline-flex;
}

element.style {
}
.newlyTrending__navButtonNext__2Bl {
    margin-left: 4px;
    transform: scaleX(-1);
}
.newlyTrending__navButtonNext__2Bl, .newlyTrending__navButtonPrev__2u4 {
    width: 20px;
    height: 20px;
    display: inline-flex;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.icons__iconWrapper__2yw {
    display: inline-flex;
    width: inherit;
    height: inherit;
}

.icons__iconWrapper__2yw i, .icons__iconWrapper__2yw svg {
    display: inline-flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: baseline;
}


.icons__iconWrapper__2yw i, .icons__iconWrapper__2yw svg {
    display: inline-flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: baseline;
}